h1 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 3px orangered;
}

section {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

article {
    display: inline-flex;
    margin: 2%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 5px black;
}

article>a {
    padding: 1rem;
}

.rsscode, .atomcode {
    width: 100px;
    height: 100px;
}

.rsscode {
    background: url(../images/1200px-Feed-icon.png) 50% 50% /cover;
}

.atomcode {
    background: url(../images/atom.png) 50% 50% /cover;
}

.rsscode:hover,
.atomcode:hover,
.rssvalid:hover,
.atomvalid:hover {
    transform: scale(1.1);
}